@import './variables';
@import './card';
@import './stars';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-family;
  background: $page-bg;
}

.page {
  padding: 40px;
}
